doctype html
html(lang=i18n.locale)
    head
        title #{i18n.__('TEST')}
        base(href=rootDir)
        script(type='text/javascript', src=i18n._jsDictSrc)
        script(type='text/javascript', src=rootDir + "/js/app.js")
        link(href=rootDir + "/styles/main.css", rel="stylesheet")

    body
        h1 #{i18n.__('HELLO')}

        h2 #{i18n.__('ROOT')}
        p #{rootDir}

        h2 #{i18n.__('CURRENT_LOCALE')}
        p #{i18n._locale}

        h2 #{i18n.__('LOCALES')}
        ul
            each locale in i18n._locales
                li
                    a(href=locale.path) #{locale.name}
                    if locale.current
                        span &nbsp;#{i18n.__('CURRENT_LOCALE')}

        p
            img(src=rootDir + "/img/Google Docs.png")
            span Hello!
